{
  "extends": "airbnb-base",
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    "no-console": "off",
    "max-len": ["error", {
      "ignoreComments": true,
      "code": 200,
      "tabWidth": 2
    }]
  }
}